html {
  font-size: 60px;
  font-family: 'Noto Sans JP', sans-serif;
}
.homelayout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: darkorchid;
}
.hltitle {
  width: 100%;
}
.hlcuboart {
  width: 49%;
}
.hllinks {
  width: 49%
}
